<div th:replace="/html/topo"></div>
<link rel="stylesheet" href="/css/produto.css">
<link rel="stylesheet" href="/css/PaginaInicial.css">


<section class="produto">
         <img src="img/asus.png" alt="">
         <h2>Notebook Asus Dual Core 4GB 128GB SSD Tela 15.6 Windows 11</h2>
         <br>
         <p class="preco">R$ 1.499,00
            ou em até 10x de R$ 149,90 sem juros</p>
         <a href="pagar.html">
            <button type="button">Comprar</button></a>
        
         
     </section>

     <section class="produto">
        <img src="img/notebooksamsung.png" alt="">
        <h2>Notebook Samsung Core i3-1115G4 256GB SSD Full HD 15.6 Windows 11</h2>
        <br>
        <p class="preco">R$ 8.798,89 
            ou em até 10x de R$ 879,89 sem juros</p>
        <a href="pagar.html">
           <button type="button">Comprar</button></a>
       
        
    </section>

    <section class="produto">
        <img src="img/iphone15.png" alt="">
        <h2>Apple iPhone 15 Pro 128 GB -Titânio Preto Tipo Barra Som MP3 Player</h2>
        <br>
        <p class="preco">R$ 2.399,00 
            ou em até 10x de R$ 239,90 sem juros</p>
        <a href="pagar.html">
           <button type="button">Comprar</button></a>
       
        
    </section>

    <section class="produto">
        <img src="img/onevision.png" alt="">
        <h2>Motorola Smartphone One Vision 128 GB Azul Safira tela 6.3 Polegadas</h2>
        <br>
        <p class="preco">R$ 1.543,97
            ou em até 10x de R$ 154,40 sem juros</p>
        <a href="pagar.html">
           <button type="button">Comprar</button></a>
       
        
    </section>

    <section class="produto">
        <img src="img/cadeiragamer.png" alt="">
        <h2>Cadeira Gamer Prizi - JX-1039 suporta 120 kg material cor azul </h2>
        <br>
        <p class="preco">R$ 444,33 
            ou em até 6x de R$ 74,06 sem juros</p>
        <a href="pagar.html">
           <button type="button">Comprar</button></a>
    </section>

    <section class="produto">
        <img src="img/cooler.png" alt="">
        <h2>CPU Cooler,Intel-LGA1700, LGA1151,AMD /AM5/AM4 120 mm, duas torres</h2>
        <p class="preco">R$399,40
            ou em até 7x R$ 57,10 sem juros</p>
        <a href="pagar.html">
           <button type="button">Comprar</button></a>
    </section>


<div th:replace="/html/footer"></div>
